<mat-card class="card">
	<mat-card-header>
		<mat-card-title *ngIf="showDetails">{{details?.ownerName}}</mat-card-title>
		<mat-card-subtitle *ngIf="showDetails">tag:{{details?.tag}}</mat-card-subtitle>
	</mat-card-header>
		<img mat-card-image   [src]="details?.imageUrl">
	<mat-card-content *ngIf="showDetails">
		<p  >
			Uploaded dates:{{details?.uploadedDate | date }}
		</p>
		<p>
			date taken:{{details?.photoDate  | date }}
		</p>
		<p>
			Views:{{details?.view }}
		</p>
	</mat-card-content>	
</mat-card>
