<form [formGroup]="flickerSearchForm" (ngSubmit)="makeSearch()">
    <mat-form-field class="width-50">
        <input matInput formControlName="tags" placeholder="tags" >
    </mat-form-field>
    <mat-form-field class="width-20">
        <input matInput formControlName="user_id" placeholder="user id" >
    </mat-form-field>
    <button type="submit" [disabled]="!flickerSearchForm.valid" mat-raised-button class="submit" color="accent" >Search</button>
    <button mat-raised-button [disabled]="!flickerSearchForm.valid"  (click)="cancelSearch()" color="warn">Cancel</button>
</form>